* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 1200px;
    height: auto;
    margin: auto;
    background-color: #b1e7f1;

}

header {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
}

.banner {
    position: relative;
    text-align: 100px right;
}

.banner-heading {
    width: 380px;
    height: auto;
    font-weight: 700;
    font-size: 35px;
    color: white;
    text-align: right;
    margin: 0 100px 0px 650px;
    padding-top: 100px;
}

.banner-details {
    width: 400px;
    height: auto;
    font-weight: 500;
    font-size: 20px;
    margin: 20px 100px 30px 625px;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    color: aliceblue;
}

.contact-btn {
    margin: 30px 0 150px 900px;
    font-size: 18px;
    color: #0152AD;
    background-color: white;
    padding: 10px 15px;
    border-style: none;
    border-radius: 5px;
}

/*................ header is close................ */


/* ..............main is start from here........... */
main{
    background-color: rgb(150, 150, 70);
}

.main-sec-one {
    width: auto;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top:150ppx;
}

li {
    list-style: none;
}

.profile-img {
    margin: 60px 0 0px 150px;
    position: relative;
}

.person-img {
    width: 400px;
    height: 420px;
    background-color: #E6E7E9;
    border-radius: 100%;
    margin: auto;
    position: absolute;
}

.my-mistakes {
    width: 260px;
    height: auto;
    margin: 120px 220px 50px 0;
    padding: 15px;
    background-color: #eff0f5;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.list img {
    width: 25px;
    height: 25px;
}

.my-mistakes h3 {
    font-weight: 700px;
    font-size: 24px;
    color: black;
    padding: 20px 0;
}

.my-mistakes p {
    font-weight: 400;
    font-size: 15px;
    padding: 10px 0;
}

/* .............main section one end.............*/

/* ............main section two and three start from here............ */

.section-two-title {
    font-weight: 600;
    font-size: 24px;
    margin: 50px auto 30px;
    text-align: center;
}

.main-sec-two {
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin: 30px auto 50px;
    text-align: center;
}

.main-sec-two h3 {
    padding: 7px;
}

.main-sec-two p {
    color: rgb(83, 81, 81);
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding: 0 10px;
}
.icon {
    width: 60px;
    padding: 10px 0 0 0;
}
.icon-div{
    background-color: #9cc9ee;
    border-radius: 20px;
}
/* ...............gradient color styles......... */

.main-sec-three {
    width: 900px;
    height: 200px;
    margin: 50px auto;
    position: relative;
    background-size: cover;
    background-image: url(../images/watch.png);
    opacity: 1;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.gradient-heading {
    position: absolute;
    width: 400px;
    height: 100px;
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin: 20px 200px 30px 40px;
    padding: 10px;

}

.gradient-heading button {
    color: rgb(41, 41, 238);
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border-style: none;
}
.list-heading{
    width: 400px;
    height: auto;
    margin: 30px auto 0;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgb(27, 27, 27);

}
.my-fav-books{
    width: 900px;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
.my-fav-books img{
    width: 100px;
    height: 120px;
}
.book{
    width: 200px;
    height: auto;
    margin: 20px auto;
    text-align: center;
    padding-top: 15px;
    background-color: #9cc9ee;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.list p{
    font-weight: 500px bolder;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
}

/* ...............main section is end here */

/* ...............footer.................. */
footer {
    width: auto;
    height: 300px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.footer-div {
    width: 300px;
    height: auto;
    margin: 20px 0;
    padding: 10px;
}

.address-heading {
    font-size: 25px;
    margin: 0 0 10px;
}

.address-details {
    margin-bottom: 15px;
}

small {
    margin: 15px 0;
    font-size: 15px;
}

.social-icon img {
    width: 30px;
    padding: 7px;
}

.user-data {
    width: 400px;
    height: 300px;
    text-align: center;
}

.user-data h3 {
    font-weight: 400;
    font-size: 20px;
    margin: 80px auto 20px;
}

.user-data input {
    width: 200px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background-color: black;
    border: 1px solid white;
    padding: 8px;

}

.user-data button {
    background-color: #0259A6;
    width: 100px;
    height: 40px;
    color: white;
    margin: 0 120px 0 0;
    border-radius: 5px;
}